{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="dashhead mt-4">

<div class="dashhead-titles">
  <h6 class="dashhead-subtitle">Lease Detail</h6>
  <h2 class="dashhead-title">{{ lease.location_name }}</h2>
</div>


<div class="flextable table-actions">
  <div class="flextable-item flextable-primary">

  </div>
  <div class="flextable-item">
    <div class="btn-group">
      <button type="button" class="btn btn-outline-primary" href="#">
        <span class="icon icon-pencil"></span>
      </button>
      <button type="button" class="btn btn-outline-primary" href="#">
        <span class="icon icon-erase"></span>
      </button>
    </div>
  </div>
</div>
</div>



<!--<div class="hr-divider mt-5 mb-4">
  <h3 class="hr-divider-content hr-divider-heading">Lease Details</h3>
</div>
-->
<ul>
  <li><strong>Property owner:</strong> {{ lease.property_owner_name }}
  <li><strong>Property owner:</strong> {{ lease.property_owner_name }}
  <li><strong>Asking price:</strong> {{ lease.rent_price }}
  <li><strong>Size of space:</strong> {{ lease.size_of_space }}
  <li><strong>Lease term:</strong> {{ lease.lease_term_in_months }}</li>
  <li><strong>size_of_space:</strong> {{ lease.size_of_space }}</li>
  <li><strong>rent_price:</strong> {{ lease.rent_price }}</li>
  <li><strong>deal_commission_rate:</strong> {{ lease.deal_commission_rate }}</li>
  <li><strong>aggregate_lease_commission:</strong> {{ lease.get_aggregate_lease_commission }}</li>
  <li><strong>house_broker_commission_rate:</strong> {{ lease.house_broker_commission_rate }}</li>
  <li><strong>outside_broker_commission_rate:</strong> {{ lease.outside_broker_commission_rate }}</li>
  <li><strong>commission_payout_terms:</strong> {{ lease.commission_payout_terms }}</li>
  <li><strong>Status:</strong> {{ lease.status }}</li>
  <li><strong>permit_type:</strong> {{ lease.permit_type }}</li>
  <li><strong>notes:</strong> {{ lease.notes }}</li>
  <li><strong>added_by:</strong> {{ lease.added_by }}</li>








  <li><strong>contingencies:</strong> {{ lease.contingencies }}</li>
                        <li>{{ lease.contingency_time_in_days }}</li>
  <li><strong>added_by:</strong> {{ lease.added_by }}</li>

    <hr>
    <strong>Dates</strong>
    <li><strong>Signed Lease Date:</strong> {{ lease.signed_lease_date }}</li>
    <li><strong>lease_execution_date:</strong> {{ lease.lease_execution_date }}</li>
    <li><strong>lease_expiration_date:</strong> {{ lease.lease_expiration_date }}</li>
    <li><strong>contingency_start_date:</strong> {{ lease.contingency_start_date }}</li>
    <li><strong>contingency_end_date:</strong> {{ lease.contingency_end_date }}</li>
    <li><strong>rent_commencement_date:</strong> {{ lease.rent_commencement_date }}</li>
    <li><strong>occupancy_date:</strong> {{ lease.occupancy_date }}</li>
    <br/>
    <hr>

    <strong>Terms</strong>
    <li><strong>landlord_broker:</strong> {{ lease.landlord_broker }}</li>
    <li><strong>tenant_broker:</strong> {{ lease.tenant_broker }}</li>
    <li><strong>house_broker:</strong> {{ lease.house_broker }}</li>
    <li><strong>contingency_start_date:</strong> {{ lease.contingency_start_date }}</li>
    <li><strong>contingency_end_date:</strong> {{ lease.contingency_end_date }}</li>
    <li><strong>rent_commencement_date:</strong> {{ lease.rent_commencement_date }}</li>

    <br/>
    <hr>
    <strong>Brokers</strong>
    <li><strong>landlord_broker:</strong> {{ lease.landlord_broker }}</li>
    <li><strong>tenant_broker:</strong> {{ lease.tenant_broker }}</li>
    <li><strong>house_broker:</strong> {{ lease.house_broker }}</li>
    <li><strong>contingency_start_date:</strong> {{ lease.contingency_start_date }}</li>
    <li><strong>contingency_end_date:</strong> {{ lease.contingency_end_date }}</li>
    <li><strong>rent_commencement_date:</strong> {{ lease.rent_commencement_date }}</li>
    <br/>
    <hr>
    <strong>Outside Brokers</strong>
    <li><strong>outside_broker_contact:</strong> {{ lease.outside_broker_contact }}</li>
    <li><strong>outside_broker_contact_address:</strong> {{ lease.outside_broker_contact_address }}</li>
    <li><strong>outside_broker_contact_phone_number:</strong> {{ lease.outside_broker_contact_phone_number }}</li>
    <li><strong>outside_broker_email_address:</strong> {{ lease.outside_broker_email_address }}</li>
    <li><strong>outside_broker_w9_on_file:</strong> {{ lease.outside_broker_w9_on_file }}</li>
    <br/>
    <hr>
    <strong>Invoice</strong>
    <li><strong>send_invoice_to:</strong> {{ lease.send_invoice_to }}</li>
    <li><strong>contact_person:</strong> {{ lease.contact_person }}</li>
    <li><strong>invoice_address:</strong> {{ lease.invoice_address }}</li>
    <li><strong>invoice_city:</strong> {{ lease.invoice_city }}</li>
    <li><strong>invoice_state:</strong> {{ lease.invoice_state }}</li>
    <li><strong>invoice_zip:</strong> {{ lease.invoice_zip }}</li>
    <li><strong>invoice_phone:</strong> {{ lease.invoice_phone }} </li>






    <hr>


  {% if lease.term_set %}
  <div class="hr-divider mt-5 mb-4">
    <h3 class="hr-divider-content hr-divider-heading">Lease Terms</h3>
  </div>


    <div class="container">

    <div class="table-responsive">
      <table class="table" data-sort="table">
        <thead>
          <tr>
            <!--<th><input type="checkbox" class="select-all" id="selectAll"></th>-->
            <th>Id</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Commission (%)</th>
            <th>Terms</th>
          </tr>
        </thead>
        <tbody>

          {% for term in lease.term_set.all %}

          <tr>
            <!--<<td><input type="checkbox" class="select-row"></td>-->
            <td><a href="#">{{ term.id }}</a></td>
            <td>{{ term.start_date }}</td>
            <td>{{ term.end_date }}</td>
            <td>{{ term.commission_rate }}</td>
            <td>{{ term.terms }}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  {% else %}
  <div class="hr-divider mt-5 mb-4">
    <h3 class="hr-divider-content hr-divider-heading">No Lease Options</h3>
  </div>



    {% endif %}






{% if lease.option_set %}
<div class="hr-divider mt-5 mb-4">
  <h3 class="hr-divider-content hr-divider-heading">Lease Options</h3>
</div>



<!--      <p class="{# if copy.status == 'a' #}text-success{# elif copy.status == 'd' #}text-danger{# else #}text-warning{# endif #}">{# copy.get_status_display #}</p>
      {# if copy.status != 'a' #}<p><strong>Due back on:</strong> {# copy.due_back #}</p> {# endif #}-->


  <div class="container">


  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <!--<th><input type="checkbox" class="select-all" id="selectAll"></th>-->
          <th>Id</th>
          <th>Start date</th>
          <th>End Date</th>
          <th>Rent Rate</th>
          <th>Commission</th>
        </tr>
      </thead>
      <tbody>

        {% for option in lease.option_set.all %}

        <tr>
          <!--<<td><input type="checkbox" class="select-row"></td>-->
          <td><a href="#">{{ option.id }}</a></td>
          <td>{{ option.commencement_date }}</td>
          <td>{{ option.end_date }}</td>
          <td>FIELD 2</td>
          <td>FIELD 3</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% else %}
<div class="hr-divider mt-5 mb-4">
  <h3 class="hr-divider-content hr-divider-heading">No Lease Options</h3>
</div>



  {% endif %}



{% endblock %}
